apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-startup-script
  namespace: valkey
data:
  start-sentinel.sh: |
    #!/bin/sh

    STS_NAME="cache"
    NAMESPACE="valkey"
    HEADLESS_SERVICE="valkey-headless"
    REPLICAS=3
    MASTER_NAME="mymaster"
    DB_PORT="6379"
    SENTINEL_PORT="26379"

    WRITABLE_DATA_DIR="/var/lib/sentinel"
    WRITABLE_SENTINEL_CONF="$WRITABLE_DATA_DIR/sentinel.conf"

    MY_FQDN="${HOSTNAME}.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"
    DEFAULT_MASTER_FQDN="${STS_NAME}-0.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"

    wait_for_dns() {
      until getent hosts ${MY_FQDN}; do
        echo "Waiting for DNS to resolve ${MY_FQDN}..."
        sleep 1
      done
    }

    setup_sentinel() {

    SENTINEL_CONFIG=$(cat <<EOF
    sentinel monitor ${MASTER_NAME} ${DEFAULT_MASTER_FQDN} 6379 2
    sentinel down-after-milliseconds ${MASTER_NAME} 60000
    sentinel failover-timeout ${MASTER_NAME} 180000
    sentinel parallel-syncs ${MASTER_NAME} 1
    sentinel announce-hostnames yes
    sentinel resolve-hostnames yes
    EOF
    )

      printf '%s' "${SENTINEL_CONFIG}" > "${WRITABLE_SENTINEL_CONF}"

      exec valkey-server "${WRITABLE_SENTINEL_CONF}" --sentinel
    }

    wait_for_dns ${MY_FQDN}
    setup_sentinel

  start-valkey.sh: |
    #!/bin/sh

    LOCALHOST="127.0.0.1"
    SENTINEL_PORT=26379
    VALKEY_PORT=6379
    STS_NAME="cache"
    NAMESPACE="valkey"
    HEADLESS_SERVICE="valkey-headless"
    MASTER_NAME="mymaster"

    MY_FQDN="${HOSTNAME}.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"

    WRITABLE_DATA_DIR="/var/lib/valkey"
    WRITABLE_VALKEY_CONF="${WRITABLE_DATA_DIR}/valkey.conf"

    get_master() {
      out="$(valkey-cli -h ${LOCALHOST} -p ${SENTINEL_PORT} SENTINEL get-master-addr-by-name ${MASTER_NAME} 2>/dev/null || true)"

      printf '%s\n' "${out}" | awk 'NR==1 {print $1}'
    }

    wait_for_sentinel() {

      until valkey-cli -h "${LOCALHOST}" -p "${SENTINEL_PORT}" PING > /dev/null 2>&1; do
        echo "Waiting for Sentinel to be available..."
        sleep 1
      done
    
    }

    setup_valkey() {
      PRIMARY_HOST=$1

      cp /etc/valkey-readonly/config/valkey.conf "${WRITABLE_VALKEY_CONF}"

      if [ "${PRIMARY_HOST}" != "${MY_FQDN}" ]; then
        echo "replicaof ${PRIMARY_HOST} ${VALKEY_PORT}" >> "${WRITABLE_VALKEY_CONF}"
      fi

      exec valkey-server "${WRITABLE_VALKEY_CONF}"
    }


    wait_for_sentinel
    CURRENT_MASTER="$(get_master)"
    
    echo "Current master is at ${CURRENT_MASTER}"
    echo "My FQDN is ${MY_FQDN}"
    
    setup_valkey "${CURRENT_MASTER}"