apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-startup-script
  namespace: valkey
data:
  start.sh: |
    #!/bin/sh

    STS_NAME="cache"
    NAMESPACE="valkey"
    HEADLESS_SERVICE="valkey-headless"
    REPLICAS=3
    MASTER_NAME="mymaster"
    DB_PORT="6379"
    SENTINEL_PORT="26379"

    WRITABLE_DATA_DIR="/var/lib/sentinel"
    WRITABLE_SENTINEL_CONF="$WRITABLE_DATA_DIR/sentinel.conf"

    MY_FQDN="${HOSTNAME}.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"

    wait_for_dns() {
      until getent hosts ${MY_FQDN}; do
        echo "Waiting for DNS to resolve ${MY_FQDN}..."
        sleep 1
      done
    }

    wait_for_dns ${MY_FQDN}
    