apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-startup-script
  namespace: valkey
data:
  start-sentinel.sh: |
    #!/bin/sh

    STS_NAME="cache"
    NAMESPACE="valkey"
    HEADLESS_SERVICE="valkey-headless"
    REPLICAS=3
    MASTER_NAME="mymaster"
    DB_PORT="6379"
    SENTINEL_PORT="26379"

    WRITABLE_DATA_DIR="/var/lib/sentinel"
    WRITABLE_SENTINEL_CONF="$WRITABLE_DATA_DIR/sentinel.conf"

    MY_FQDN="${HOSTNAME}.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"
    DEFAULT_MASTER_FQDN="${STS_NAME}-0.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"

    wait_for_dns() {
      until getent hosts ${MY_FQDN}; do
        echo "Waiting for DNS to resolve ${MY_FQDN}..."
        sleep 1
      done
    }

    setup_sentinel() {

    SENTINEL_CONFIG=$(cat <<EOF
    sentinel monitor ${MASTER_NAME} ${DEFAULT_MASTER_FQDN} 6379 2
    sentinel down-after-milliseconds ${MASTER_NAME} 60000
    sentinel failover-timeout ${MASTER_NAME} 180000
    sentinel parallel-syncs ${MASTER_NAME} 1
    sentinel announce-hostnames yes
    sentinel resolve-hostnames yes
    EOF
    )

      echo "${SENTINEL_CONFIG}" > ${WRITABLE_SENTINEL_CONF}

      valkey-server ${WRITABLE_SENTINEL_CONF} --sentinel
    }

    wait_for_dns ${MY_FQDN}
    setup_sentinel
  start-valkey.sh: |
    #!/bin/sh

    LOCALHOST="127.0.0.1"
    SENTINEL_PORT=26379
    MASTER_NAME="mymaster"

    MY_FQDN="${HOSTNAME}.${HEADLESS_SERVICE}.${NAMESPACE}.svc.cluster.local"

    get_master() {
      echo "Run sentinel command"
      out="$(valkey-cli -h ${LOCALHOST} -p ${SENTINEL_PORT} SENTINEL get-master-addr-by-name ${MASTER_NAME} 2>/dev/null || true)"
    }

    wait_for_sentinel() {

      until valkey-cli -h ${LOCALHOST} -p ${SENTINEL_PORT} PING > /dev/null 2>&1; do
        echo "Waiting for Sentinel to be available..."
        sleep 1
      done
    
    }

    wait_for_sentinel
    CURRENT_MASTER=$(get_master)

    # if [ ${CURRENT_MASTER} = ${MY_FQDN} ]; then
    #   echo "This node is the master."
    #   valkey-cli REPLICAOF NO ONE
    # else
    #   echo "This node is a replica. Configuring replication to master at ${CURRENT_MASTER}."
    #   valkey-cli REPLICAOF ${CURRENT_MASTER} ${DB_PORT}
    # fi

    valkey-server